@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

:root {
  --background-color: #134E4A;
  --border-color: #18181B;
  --background-color-click: #115E59;
  --font-color: white;
}

.App {
  font-family: 'Merienda', cursive;
  text-align: center;
  font-size: large;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}

input {
  font: inherit;
  width: 40%;
  height: 50px;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
}

input:focus {
  outline: none;
  border-radius: 0.5rem;
  border-color: var(--border-color);
}

/* image */
.image {
  height: 100px;
  width: 100px;
}

.search-image {
  width: 40px;
  height: 40px;
  vertical-align: text-bottom;
  padding: 0rem 0.5rem;
}

/* list */
.display-emoji {
  padding: 1rem;
}

.list-non-bullet-emoji {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin: 1.5rem auto;
  max-width: 60%;
}

.list-non-bullet-social {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin: auto;
}

.list-item-inline-emoji {
  display: inline;
  padding: 0rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.list-item-inline-social {
  display: inline;
  padding: 0rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.list-item-inline-social i {
  color: var(--border-color);
}

.list-item-inline-social i:hover {
  color: var(--font-color);
  transition: all 0.2s ease-in-out;
}

/* choosen emoji */
.chosen-style {
  cursor: "pointer";
  background-color: var(--background-color-click);
  border-radius: "0.5rem";
}

/* div styling */
.meaning-div {
  width: 40%;
  margin: auto;
  font-size: 25px;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--background-color-click);
}